@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-rosario: "Rosario", sans-serif;
}
h1 {
  font-family: var(--font-rosario);
  font-size: 48px;
  font-weight: bold;
}
p {
  font-family: var(--font-rosario);
  font-size: 20px;
  font-weight: normal;
}
@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rosario";
  src: url("./fonts/Rosario-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
